html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  background-color: #849d8f;
  color:#ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Roboto", "Arial", sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 35px;
  font-weight: 700;
}

h2 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
}

p {
  font-weight: 400;
  font-size: 18px;
}

a {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

b,
strong {
  font-weight: 700;
}

img {
  max-width: 100%;
  vertical-align: top;
}

fieldset {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.clearfix::after,
.container::after {
  content: "";
  display: table;
  clear: both;
}

.content-catalog .products-item {
  margin-bottom: 19px;
}

.input,
textarea {
  width: 100%;
  height: 44px;
  padding: 9px 12px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}

textarea {
  height: 155px;
  resize: none;
}

.btn {
  display: inline-block;
  padding: 12px 22px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  vertical-align: top;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  white-space: nowrap;
  background: #f26843;
  background: #f26843 -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: #f26843 -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: #f26843 linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: 0;
  outline: 0;
}

.btn:hover,
.btn:active {
  background: #f58669 -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: #f58669 -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: #f58669 linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-large {
  padding: 12px 42px;
  font-size: 32px;
  font-weight: 700;
}

.btn-block {
  display: block;
  width: 100%;
}

/* Классы хедера */

.radio-wrap,
.checkbox-wrap {
  font-size: 0;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  position: relative;
  margin-right: 24px;
  font-size: 16px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

input[type="radio"] + label {
  margin-right: 19px;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
  position: relative;
  top: -2px;
  display: inline-block;
  box-sizing: content-box;
  width: 12px;
  height: 12px;
  margin-right: 11px;
  content: "";
  cursor: pointer;
  vertical-align: bottom;
  border: 3px solid #aabab0;
  box-shadow: 0 0 0 1px #f8f7f4;
}

input[type="radio"] + label::before {
  border-radius: 50%;
}

input[type="radio"]:checked + label::before {
  background: #f8f7f4;
}

input[type="radio"] + label:hover::before,
input[type="checkbox"] + label:hover::before {
  box-shadow: 0 0 0 2px #f8f7f4;
}

input[type="radio"]:disabled + label::before {
  background: #b5c4bc;
  box-shadow: 0 0 0 1px #b5c4bc;
}

input[type="checkbox"] + label::before {
  border-radius: 3px;
}

input[type="checkbox"]:checked + label::after {
  position: absolute;
  top: 4px;
  left: 3px;
  width: 12px;
  height: 7px;
  content: "";
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border: 3px solid #ffffff;
  border-top: 0;
  border-right: 0;
}

input[type="checkbox"]:disabled + label::before {
  box-shadow: 0 0 0 1px #b5c4bc;
}

input[type="checkbox"]:disabled + label::after {
  border-color: #b5c4bc;
}

/* Классы хедера */

.main-header {
  position: relative;
  z-index: 10;
}

.main-header-logo {
  float: left;
  width: 153px;
  height: 63px;
  margin-top: 9px;
  margin-right: 15px;
  margin-left: -4px;
}

/*стили главного меню*/

.main-nav {
  float: left;
  width: 500px;
  padding-top: 24px;
  margin: 0;
}

.main-nav > ul {
  font-size: 0;
}

.main-nav-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}

.main-nav-item > a {
  display: block;
  padding: 6px 14px;
  color: #ffffff;
}

.main-nav-item:hover > a,
.main-nav-item.active:hover > a {
  color: #000;
  background-color: #f7f6f3;
  border-radius: 2em;
  text-decoration: none;
  border-radius: 40px;
}

.main-nav-item:active > a {
  box-shadow: inset 0 2px 1px dimgrey;
}

.main-nav-item.active > a {
  background-color: #d07058;
  color: #ffffff;
  text-decoration: none;
  border-radius: 2em;
}

.main-nav-sub {
  display: none;
  position: absolute;
  left: -7px;
  top: 100%;
  width: 143px;
  height: 171px;
  padding-bottom: 10px;
  padding-left: 0;
  font-size: 14px;
  background-color: #f8f7f4;
  color: #323232;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.main-nav-item:hover .main-nav-sub {
  display: block;
}



.main-nav-sub span {
  position: relative;
  display: block;
  margin: 0 11px 5px 6px;
  padding: 11px 7px 11px 14px;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.main-nav-sub a {
  display: block;
  padding: 5px 21px;
  color: #323232;
  font-weight: 400;
  white-space: nowrap;
  text-decoration: none;
}

.main-nav-subitem {
  margin-bottom: 5px;
}

.main-nav-subitem:hover a {
  background-color: #fbded7;
}

.main-nav-subitem:active a {
  background-color: #f6b5a5;
}

.main-nav-subitem.active a {
  color: #ffffff;
  background-color: #d07058;
}

/*стили пользовательского блока*/

.user-block {
  float: right;
  padding-top: 23px;
}

.user-btn {
  height: 32px;
  color: #ffffff;
  text-decoration: none;
}

.user-item {
  position: relative;
  float: left;
  margin-left: 8px;
  padding-bottom: 4px;
}

.user-item-box {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  right: -2px;
  padding: 19px 15px 22px 19px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.user-item:not(.empty):hover .user-item-box {
  display: block;
}

.user-item:hover .user-search-btn {
  background: #ffffff url("../img/icon-search-hover.svg") no-repeat 50% 50%;
}

.user-item .input {
  position: relative;
  width: 100%;
  font-size: 14px;
}

.user-item-search .input {
  width: 311px;
  margin: 0;
}

.user-item-login a {
  display: block;
  text-decoration: underline;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.7;
  color: #000;
}

.user-item-login a:hover,
.user-item-login a:active {
  color: #ffbc9e;
}

.user-item-login .input {
  width: 241px;
}

.user-item-login .btn {
  float: left;
  margin-right: 19px;
  padding: 11px 24px;
}

.user-item:hover .user-btn-login {
  color: #323232;
  background: #ffffff url("../img/icon-enter-hover.svg") no-repeat 17px 6px;
}

.worktime {
  display: block;
  position: absolute;
  top: 71px;
  right: 27px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  text-align: right;
}

.worktime strong {
  display: block;
  font-size: 22px;
  font-weight: 700;
}

.user-search-btn {
  display: block;
  width: 32px;
  height: 32px;
  font-size: 0;
  border-radius: 30px;
  background: rgba(255, 255, 255, .2) url("../img/icon-search.svg") no-repeat 50% 50%;
  border: 0;
}

.user-btn-login {
  display: block;
  padding: 8px 17px 7px 43px;
  font-size: 14px;
  border-radius: 30px;
  background: rgba(255, 255, 255, .2) url("../img/icon-enter.svg") no-repeat 17px 6px;
}

.user-btn-cart {
  display: block;
  min-width: 118px;
  padding: 8px 17px 7px 45px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 30px;
  background: rgba(255, 255, 255, .2) url("../img/icon-cart.svg") no-repeat 16px 7px;
}

.user-item:not(.empty):hover .user-btn-cart {
  color: #323232;
  background: #ffffff url("../img/icon-cart-full.png") no-repeat  16px 7px;
}

.user-item-cart {
  width: 540px;
  padding: 15px 9px 21px;
  text-align: right;
  color: #323232;
}
.user-table {
  margin-bottom: 14px;
  padding-bottom: 11px;
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  color: #333;
  border-bottom: 1px solid #cacac7;
}

.user-table-price {
  color: #999;
}

.user-table td {
  padding: 13px 9px;
  vertical-align: middle;
}

.user-table td:nth-child(1) {
  padding-left: 2px;
  padding-top: 12px;
}

.user-table td:nth-child(2) {
  position: relative;
  padding-left: 50px;
}
.user-table td:nth-child(3) {
  width: 126px;
  padding-top: 12px;
  text-align: center;
}

.user-table td:nth-child(4) {
  width: 83px;
  padding: 12px 12px 13px 0;
  text-align: center;
}

.user-table-link {
  display: block;
  color: #333;
  text-decoration: none;
}

.user-table-link:hover,
.user-table-link:active {
  color: #ec593c;
  text-decoration: underline;
}

.user-table-link span {
  position: relative;
  top: 8px;
}

.user-table-delete {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  font-size: 0;
  border: 0;
  outline: 0;
  background: 0 0;
}

.user-table-delete::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.user-table-delete::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.user-table-delete::after,
.user-table-delete::before {
  position: absolute;
  top: 7px;
  left: 0;
  width: 14px;
  height: 1px;
  content: "";
  background-color: #000000;
}

.user-table img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 34px;
  height: 34px;
  margin-top: -17px;
  border-radius: 50%;
}

.user-table-bill {
  margin-right: 5px;
  margin-bottom: 14px;
  font-size: 15px;
  font-weight: 700;
}

.user-item-cart .btn {
  float: right;
  padding: 11px 15px;
  margin-right: 5px;
}

/*классы slider*/

.slider-switch {
  display: none;
}

.site-wrapper {
  min-width: 940px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}

.slider {
  position: relative;
  margin-bottom: 43px;
  padding-top: 320px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide h2 {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 1;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 1px;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

/*Классы акций*/

.info-item-promo {
  min-height: 229px;
}

.info-item-promo-strawberry {
  background-image: url("../img/bg-strawberry-promo.jpg");
}

.info-item-promo-choco {
  background: url("../img/bg-chocolate.jpg");
}

.info-item-promo .btn {
  float: right;
}

.info-item-promo h2 {
  margin: 0;
  font-size: 35px;
  font-weight: 700;
}

.info-item-promo p {
  height: 63px;
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
}

.info-item .btn {
  padding-left: 23px;
  padding-right: 23px;
}

/*Классы каталога*/

.products {
  font-size: 0;
  position: relative;
  margin-left: -13px;
  margin-right: -13px;
  margin-bottom: 25px;
}

.products-item {
  position: relative;
  display: inline-block;
  width: 293px;
  min-height: 344px;
  vertical-align: top;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6px;
}

.products-item:hover {
  z-index: 10;
}
.products-item::before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 405px;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

}
.products-item:hover::before {
  display: block;
}

.products-item-img {
  width: 267px;
  height: 267px;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  overflow: hidden;
  border-radius: 50%;
}

.products-item-text {
  padding: 0 5px;
  margin-top: 15px;
  margin-bottom: 0;
  height: 40px;
  text-decoration: underline;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  overflow: hidden;
}

.products-item-price {
  position: absolute;
  top: 210px;
  font-size: 45px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.ruble {
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  height: 37px;
  width: 32px;
  margin-left: 3px;
  font-size: 0;
  background: url("../img/icon-ruble.svg") 50% 50% no-repeat;
}

.kilogram {
  font-size: 30px;
  font-weight: 700;
}

.hit::after {
  position: absolute;
  top: 6px;
  left: 13px;
  width: 60px;
  height: 60px;
  content: "";
  background: #ffffff url("../img/icon-hit.png") no-repeat 50% 50%;
  border-radius: 50%;
}

.products-item .btn {
  display: none;
  position: absolute;
  top: 339px;
  left: 50%;
  padding-left: 17px;
  padding-right: 17px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.products-item:hover .btn {
  display: block;
}

/*блок features*/

.features {
  min-height: 306px;
  background-image: url("../img/bg-waffle.jpg");
  border-radius: 15px;
  padding: 26px 0 0 21px;
  margin-bottom: 40px;
}

.features h2 {
  font-size: 24px;
  color: #323232;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
  margin-bottom: 25px;
}

.features-item {
  display: inline-block;
  vertical-align: top;
  padding-left: 56px;
  margin-bottom: 22px;
  margin-right: 25px;
  position: relative;
  width: 535px;
  color: #323232;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

.features-item::before {
  position: absolute;
  top: -13px;
  left: 0px;
  width: 47px;
  height: 47px;
  content: "";
}

.features-item-ice::before {
  background: url("../img/icon-ice-cream.svg") no-repeat 50% 50%;
}

.features-item-leaf::before {
  background: url("../img/icon-leaf.svg") no-repeat 50% 50%;
}

.features-item-cow::before {
  background: url("../img/icon-cow.svg") no-repeat 50% 50%;
}

.features-item-thermometer::before {
  background: url("../img/icon-thermometer.svg") no-repeat 50% 50%;
}

/*блок info*/

.info {
  margin-bottom: 34px;
  margin-left: -13px;
  margin-right: -13px;
}

.info-item {
  position: relative;
  float: left;
  width: 560px;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 15px;
  margin-left: 13px;
  margin-right: 13px;
  border-radius: 15px;
}

.info-item-blog {
  margin-bottom: 7px;
  background-image: url("../img/bg-strawberry.jpg");
  height: 219px;
  overflow: hidden;
}

.info-item-blog h3 {
  margin-top: 8px;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 500;
  color: #323232;
}

.info-item-link {
  display: inline-block;
  width: 300px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 1.2;
  color: #323232;
}

.info-item-link:hover {
  text-decoration: none;
}

.info-item-subscribe {
  position: relative;
  padding: 6px;
  background-image: url("../img/bg-post.png");
  min-height: 219px;
}

.info-item-cover {
  margin: 0;
  width: 100%;
  min-height: 208px;
  padding: 20px;
  background-color: #f8f7f4;
  border-radius: 9px;
}

.info-item-cover p {
  height: 66px;
  overflow: hidden;
  margin-bottom: 35px;
  margin-top: 9px;
  color: #5a5a5a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

.info-item-form {
  display: block;
}

.info-item-form .input {
  width: 368px;
  margin-right: 8px;
  margin-bottom: 0;
}

.info-item-form .btn {
  padding: 9px 18px 12px;
}

/*блок .map*/

.map {
  height: 430px;
  position: relative;
  padding: 0;
  color: #323232;
  background: url("../img/map.jpg") no-repeat 50% 50% / cover;
}

.map .container {
  height: 100%;
}

.map-info {
  position: absolute;
  right: 26px;
  top: 50%;
  width: 302px;
  min-height: 305px;
  padding: 29px 25px 14px 25px;
  max-height: 400px;
  border-radius: 15px;
  line-height: 1.4;
  background-color: #fefdfd;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.map p {
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 14px;
}

.map strong {
  margin-top: 1px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  display: block;
}

.map-info .btn {
  margin-top: 24px;
  padding-top: 8px;}

/*блок .footer*/

.page-footer {
  position: relative;
  padding-top: 19px;
  min-height: 103px;
}

.page-footer-line > .container::before {
  display: block;
  content: "";
  position: absolute;
  top: -19px;
  left: 0;
  width: 1146px;
  height: 1px;
  margin-left: 27px;
  margin-right: 27px;
  background: rgba(255, 255, 255, 0.2);
}

.social {
  padding: 17px 0 0 2px;
  float: left;
  width: 267px;
  margin-right: 156px;
  font-size: 0;
}

.social li {
  display: inline-block;
  margin-right: 11px;
}

.social-btn {
  display: block;
  width: 38px;
  height: 38px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.social-btn:hover {
  border: 4px solid rgba(255, 255, 255, 0.7);
}

.social-btn:active {
  border: 4px solid #ffffff;
  box-shadow: inset 0 2px 1px dimgrey;
}

.social-btn-tw {
  background: url("../img/icon-tw.svg") 50% 50% no-repeat
}

.social-btn-inst{
  background: url("../img/icon-inst.svg") 50% 50% no-repeat;
}

.social-btn-fb {
  background: url("../img/icon-fb.svg") 50% 50% no-repeat;
}

.social-btn-vk{
  background: url("../img/icon-vk.svg") 50% 50% no-repeat;
}

.page-footer-nav {
  float: left;
  width: 360px;
  margin: 11px auto 0;
}

.page-footer-nav a {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  min-width: 138px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

.page-footer-nav a::before {
  display: none;
  position: absolute;
  left: -22px;
  top: 0;
  width: 15px;
  height: 13px;
  content: "";
  background: url("../img/icon-heart.svg") 50% 50% no-repeat;
}

.page-footer-nav a:hover,
.page-footer-nav a:active,
.page-footer-nav a.active {
  font-weight: 700;
}

.page-footer-nav a:hover::before,
.page-footer-nav a:active::before,
.page-footer-nav a.active::before {
  display: block;
}

.page-footer-copyright {
  float: right;
  width: 190px;
}

.page-footer-copyright p {
  margin: 0;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}

.page-footer-copyright a {
  color: #ffffff;
  font-size: 12px;
}

.page-footer-logo {
  display: block;
  margin-bottom: 6px;
}

/*стили .breadcrumbs*/

.breadcrumbs {
  margin-top: 22px;
  margin-bottom: 4px;
}

.breadcrumbs li {
  display: inline-block;
  margin-right: 16px;
  font-size: 0;
}

.breadcrumbs span {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs a {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  border-bottom:  1px solid rgba(255, 255, 255, 0.4);
}

.breadcrumbs a::after {
  position: absolute;
  top: 2px;
  right: -14px;
  display: block;
  content: "\00BB";
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs a:hover {
  color: #ffbc9e;
  border-bottom:  1px solid rgba(255, 188, 158, 0.4);
}

.breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom:  1px solid rgba(255, 188, 158, 0.4);
}

/*блок .filter*/

.filter {
  display: block;
  margin-bottom: 18px;
  font-size: 0;
}

.filter-box {
  position: relative;
  background: #aabab0;
  border-radius: 40px;
  padding: 10px 0 10px 18px;
  height: 36px;
  color: #ffffff;
}

.filter-item {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 16px;
  margin-bottom: 17px;
  border: 0;
  font-size: 16px;
}

.filter-item legend {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  padding-left: 15px;
}

.filter-item select {
  width: 194px;
  height: 37px;
  padding-right: 15px;
  padding-left: 15px;
  color: #fff;
  border: 0;
  border-radius: 40px;
  outline: none;
  background: transparent;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter-item select:hover {
  cursor: pointer;
  color: #323232;
  background-color: #fff;
}

.filter-item option {
  color: #323232;
}

.select-wrap {
  padding: 0;
}

.select-wrap::after {
  position: absolute;
  top: 45%;
  right: 6%;
  content: '';
  cursor: pointer;
  pointer-events: none;
  border: 5px solid transparent;
  border-top-color: #fff;
}

.select-wrap:hover::after,
.select-wrap:focus::after {
  border-top-color: #000;
}

.filter-item-scale {
  padding: 0;
  position: relative;
  font-size: 14px;
  font-weight: 700;
}

.scale {
  display: block;
  width: 217px;
  height: 37px;
  background: #aabab0;
  border-radius: 40px;
}

.scale-toggle-min,
.scale-toggle-max {
  content: "";
  position: absolute;
  top: 9px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.scale-toggle-min {
  left: 35px;
}

.scale-toggle-max {
  left: 133px;
}

.scale-bar {
  position: absolute;
  content: "";
  top: 18px;
  left: 16px;
  right: 13px;
  height: 3px;
  background: #ffffff;
}

.checkbox-block-fillers {
  background: #aabab0;
  border-radius: 40px;
  padding: 10px;
  font-weight: 700;
}

.filter-btn {
  display: inline-block;
  vertical-align: bottom;
  padding: 6px 27px 7px;
  margin-bottom: 17px;
  margin-left: -3px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  background: #aabab0;
  border: 2px solid #ffffff;
  border-radius: 40px;
  cursor: pointer;
}

.filter-btn:hover {
  background: #ffffff;
  color: #323232;
}

.filter-btn:active {
  background: #eaeaea;
  color: #323232;
}

/*переключатель страниц*/

.paginator {
  margin-bottom: 30px;
  margin-top: 50px;
  font-size: 0;
  text-align: right;
}

.paginator-btn {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  padding-top: 4px;
  margin-left: 3px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

.paginator-btn:hover,
.paginator-btn.active {
  color: #323232;
  background: #ffffff;
  border-radius: 50%;
}

.paginator-control {
  font-size: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 26px;
}

.paginator-control-prev::before,
.paginator-control-next::before {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border: 2px solid rgba(255, 255, 255, .2);
  border-right: 0;
  border-bottom: 0;
}

.paginator-control-prev::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 5px;
  top: 8px;
}

.paginator-control-next::before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  right: 0;
  top: 8px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 478px;
  height: 442px;
  padding: 16px 26px 0 23px;
  background: #f8f7f4;
  border-radius: 10px;
  z-index: 300;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-show {
  display: block;
}

.modal-close {
  content: "";
  position: absolute;
  top: 9px;
  right: 9px;
  width: 30px;
  height: 30px;
}

.modal-close:hover {
  opacity: .6;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 5px;
  width: 21px;
  height: 2px;
  background-color: #060606;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal h3 {
  color: #323232;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 19px;
}

.modal .input {
  display: block;
  width: 267px;
  padding-left: 14px;
  font-size: 16px;
}

.modal .btn {
  float: right;
  padding-left: 23px;
  padding-right: 23px;
}

.modal textarea {
  height: 155px;
  margin-bottom: 19px;
  font-size: 16px;
}
