html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #849d8f;
  color:#ffffff;
  font-size: 16px;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Roboto", "Arial", sans-serif;

}

h1 {
  font-size: 35px;
  font-weight: 700;
}

h2 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
}

p {
  font-weight: 400;
  font-size: 18px;
}

img {
  max-width: 100%;
  vertical-align: top;
}


.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 26px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.btn {
  display: inline-block;
  padding: 12px 22px;
  font-size: 18px;

  cursor: pointer;

  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* Классы хедера */

.page-header {
  position: relative;
  margin-bottom: 40px;
}

.page-header-logo {
  float: left;
  width: 153px;
  height: 63px;
  margin-top: 9px;
  margin-right: 16px;
}

.page-nav {
  float: left;
  width: 420px;
}

.page-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-nav li {
  position: relative;
  float: left;
  margin-top: 23px;
  padding-bottom: 6px;
  font-size: 16px;
  white-space: nowrap;
}

.page-nav a {
  display: block;
  padding: 10px;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
}

.page-nav a:hover {
  color: #333333;
  font-weight: bold;
  text-decoration: none;
  background: #f7f6f3;
}

.page-nav-sub {
  display: none;
  position: absolute;
  width: 143px;
  margin-top: 7px;
  padding: 9px;
  background: #f7f6f3;
  border-radius: 4px;
}

.page-nav-sub:hover {
    display: block;
}

.user-block {
  float: right;
  width: 267px;
  margin-top: 23px;
  font-size: 0;
}

.user-block li {
  list-style: none;
  display: inline-block;

}

.user-block-btn {
  position: relative;
  display: inline-block;
  padding: 10px;
  background: #a1b5a9;
  border-radius: 40px;
  border: none;
  font-size: 14px;
  margin-right: 10px;
}

.user-block-btn:hover {
  background: #f8f7f4;
}

.user-block-btn-search {
  height: 33px;
  width: 33px;
  background:  #a1b5a9 url('../img/icon-search.svg') 50% 50% no-repeat;
}


.user-block-btn-enter {
}

.user-block-btn-enter::before {
  position: absolute;
  left: -80px;
  width: 20px;
  height: 19px;
  background:  red;
}

.user-block-btn-basket {

}

.page-header-worktime {
  position: absolute;
  top: 54px;
  right: 27px;
  text-align: right;
}

.page-header-worktime span {
  display: block;
  font-size: 22px;
}

/*классы slider*/

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  min-width: 940px;

  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

/* Псевдоэлементы с изображениями нужны только для предзагрузки картинок, чтобы они уже были в кеше в момент переключения слайдов и сразу отображались */

.site-wrapper:before,
.site-wrapper:after {
  content: "";

  visibility: hidden;
}

.site-wrapper:before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper:after {
  background-image: url("../img/slide-3.png");
}

.main-header {
  height: 100px; /* для демо */

  background-color: rgba(0, 0, 0, 0.4); /* для демо */
  box-shadow: inset 0 0 0 4px #000000; /* для демо */
}

.slider {
  position: relative;
  margin-bottom: 40px;
  padding-top: 270px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

/*Классы акций*/

.promos {
  margin-bottom: 40px;
}

.promos-item {
  position: relative;
  width: 560px;
  height: 229px;
  padding: 15px 20px;
  border-radius: 20px;
}

.promos-item-left {
  float: left;
  margin-right: 26px;
  background-image: url("../img/bg-strawberry-promo.jpg");

}

.promos-item-right {
  float: right;
  background: url("../img/bg-chocolate.jpg");

}

.promos-item h2 {
  margin: 0;
  font-size: 35px;
}

.promos-item p {
  font-size: 18px;
}

.promos-item .btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
/*Классы каталога*/

.products {
  font-size: 0;
  position: relative;
  margin-left: -13px;
  margin-right: -13px;
  margin-bottom: 41px;
}

.products-item {
  display: inline-block;
  width: 267px;
  min-height: 325px;
  font-size: 16px;
  vertical-align: top;
  margin-left: 13px;
  margin-right: 13px;
}

.products-item-img {
  width: 267px;
  height: 267px;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;

  overflow: hidden;
  border-radius: 50%;
}


.products-item-text {
  text-decoration: underline;
  color: #ffffff;
}

.products-item-price {
  position: absolute;
  bottom: 80px;
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
}

.products-item-price span {
  font-size: 30px;
}

/*блок features*/

.features {
  height: 306px;
  background-image: url("../img/bg-waffle.jpg");
  border-radius: 20px;
  padding: 30px 22px;
  margin-bottom: 40px;

}

.features h2 {
  font-size: 24px;
  color: #323232;
  margin: 0;
}

.features-item {
  position: relative;
  display: inline-block;
  width: 484px;
  vertical-align: top;
  color: #323232;
  margin-right: 26px;
}

/*.features-item-ice::before {
  content: ""
  display: block;
  position: absolute;
  left: -40px;
  width: 50px;
  height: 50px;
  background-image: url("../img/icon-ice-cream.svg");
}*/

/*блок info*/

.info {
  margin-bottom: 40px;
}

.info-item {
  float: left;
  width: 560px;
  height: 220px;
  padding: 20px;
  border-radius: 20px;
}

.blog-news {
  margin-right: 26px;
  background-image: url("../img/bg-strawberry.jpg");
}

.blog-news h3 {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 16px;
  color: #5a5a5a;
}

.blog-news a {
  display: inline-block;
  width: 300px;
  font-size: 24px;
  color: #353535;
}

.subscribe {
  position: relative;
  padding: 6px;
  background-image: url("../img/bg-post.png");
}

.subscribe-cover {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: #f8f7f4;
  border-radius: 20px;
}

.subscribe-cover p {
  margin-top: 9px;
  color: #5a5a5a;
}

.subscribe-form {
  position: absolute;
  bottom: 35px;
  display: block;
  width: 510px;
}

.subscribe-form input[type="email"] {
  width: 360px;
  height: 44px;
  margin-right: 10px;

}

.info-item .btn {
  border: none;
}

/*блок .map*/

.map {
  height: 430px;
  position: relative;
  margin-bottom: 40px;
  padding: 0;
  color: #323232;
  background: url("../img/map.jpg") no-repeat 50% 50% / cover;
}

.map-info {
  position: absolute;
  padding-top: 30px;
  right: 27px;
  bottom: 42px;
  width: 302px;
  height: 307px;
  border-radius: 20px;
  background-color: #fefdfd;
  padding: 35px 25px;
}

.map p {
  font-size: 14px;
}

.map strong {
  font-size: 18px;
  display: block;
}

/*блок .footer*/

.page-footer {
  margin-top: 40px;
}

.social {
  padding: 0;
  float: left;
  width: 380px;
  font-size: 0;
}

.social li {
  display: inline-block;
}

.social-btn {
  display: block;
  width: 38px;
  height: 38px;
}

.social-btn-tw {
  background: url("../img/icon-tw.svg") 50% 50% no-repeat
}

.social-btn-inst{
  background: url("../img/icon-inst.svg") 50% 50% no-repeat;
}

.social-btn-fb {
  background: url("../img/icon-fb.svg") 50% 50% no-repeat;
}

.social-btn-vk{
  background: url("../img/icon-vk.svg") 50% 50% no-repeat;
}

.page-footer-nav {
  float: left;
  width: 360px;
  margin: 0 auto;
}

.page-footer-nav-left {
  float: left;
  width: 140px;
}

.page-footer-nav-right {
  float: right;
  width: 220px;
}

.page-footer-nav a {
  display: block;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 5px;

}

.heart {
  position: relative;
}
/*.heart:after {
  position: absolute;
  left: 50px;
  width: 15px;
  height: 13px;
  background: red;
}*/

.page-footer-copyright {
  float: right;
  width: 191px;
}

.page-footer-copyright p {
  color: #ffffff;
  font-size: 12px;
}

.page-footer-copyright a {
  color: #ffffff;
  font-size: 12px;
}

/*стили .breadcrumbs*/

.breadcrumbs {
  margin-bottom: 25px;
}

.breadcrumbs li {
  display: inline-block;
  color: #ffffff;
}

/*блок .filter*/

.filter {
  display: block;
  width: 900px;
}

.filter-item {
  display: inline-block;
  margin-right: 16px;
}

.paginator {
  float: right;
  margin-bottom: 30px;
}
